pkgbase = pumba
	pkgdesc = Chaos testing, network emulation and stress testing tool for containers
	pkgver = 1.1.6
	pkgrel = 1
	url = https://github.com/alexei-led/pumba
	arch = x86_64
	license = Apache-2.0
	makedepends = go
	makedepends = git
	makedepends = golangci-lint
	source = pumba-1.1.6-1.tar.gz::https://github.com/alexei-led/pumba/archive/refs/tags/1.1.6.tar.gz
	sha256sums = 6ff2f276e3984edfd5305712708d2954d0cbb8baea871719270b0475d8f65b0f

pkgname = pumba
