pkgbase = pumba
	pkgdesc = Chaos testing, network emulation and stress testing tool for containers
	pkgver = 1.0.4
	pkgrel = 1
	url = https://github.com/alexei-led/pumba
	arch = x86_64
	license = Apache-2.0
	makedepends = go
	makedepends = git
	makedepends = golangci-lint
	source = pumba-1.0.4-1.tar.gz::https://github.com/alexei-led/pumba/archive/refs/tags/1.0.4.tar.gz
	sha256sums = 51c3d688dd41ea03d273882e8291e11e619a38c937f8f0d52a6527ccfe9438a8

pkgname = pumba
