pkgbase = python-spotdl
	pkgdesc = Download your Spotify playlists and songs along with album art and metadata (from YouTube if a match is found).
	pkgver = 4.1.0
	pkgrel = 1
	url = https://github.com/spotDL/spotify-downloader
	arch = any
	license = MIT
	depends = python
	depends = ffmpeg
	depends = python-spotipy
	depends = python-pytube
	depends = python-rich
	depends = python-rapidfuzz
	depends = python-mutagen
	depends = python-ytmusicapi
	depends = yt-dlp
	depends = python-tqdm
	depends = python-beautifulsoup4
	depends = python-requests
	depends = python-unidecode
	depends = python-pycryptodomex
	depends = python-websockets
	depends = python-async-timeout
	depends = python-packaging
	depends = python-setuptools
	depends = python-brotli
	depends = python-slugify
	depends = python-nest-asyncio
	depends = python-fastapi
	depends = uvicorn
	depends = python-platformdirs
	depends = python-jarowinkler
	provides = python-spotdl
	provides = spotdl
	options = strip
	options = emptydirs
	options = zipman
	source = https://pypi.io/packages/source/s/spotdl/spotdl-4.1.0.tar.gz
	b2sums = cd365832e658bdb584fa3a4e52703609edd5f124f2f1119bfa5c81777b8b616151ba617becda4aafc35f8ee93cb8cd824fb1e4b8a5f050f1c9354c7746973e37

pkgname = python-spotdl
