pkgbase = dpyproxy
	pkgdesc = Python Proxy that implements DPI evasion mechanisms
	pkgver = 2.0.0
	pkgrel = 1
	url = https://github.com/UPB-SysSec/DPYProxy
	arch = any
	license = Apache-2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	depends = python-aioquic
	depends = python-anyio
	depends = python-cryptography
	depends = python-dnspython
	depends = python-h2
	depends = python-httpx
	depends = python-service-identity
	provides = python-dpyproxy
	conflicts = python-dpyproxy
	replaces = python-dpyproxy
	source = dpyproxy-2.0.0.tar.gz::https://github.com/UPB-SysSec/DPYProxy/archive/v2.0.0.tar.gz
	source = https://raw.githubusercontent.com/aminvakil/DPYProxy/refs/heads/initial_pyproject/pyproject.toml
	source = https://raw.githubusercontent.com/aminvakil/DPYProxy/refs/heads/initial_pyproject/dpyproxy/__init__.py
	sha256sums = ff92cc1efd2b354da4a21207abbe42733153c008d06d63e06a26c19fc914a6d0
	sha256sums = 701023a66872891f3662dccc741c7b3ed166e4b062bfa3f7376de12494560ee2
	sha256sums = e176952620651548ef3687c02018fea2c75f9cd863f5835b69a42feaf7582c05

pkgname = dpyproxy
