pkgbase = hadolint-git
	pkgdesc = Dockerfile linter, validate inline bash, written in Haskell
	pkgver = 2.1.0.r0.g85a5357
	pkgrel = 1
	url = Dockerfile linter, validate inline bash, written in Haskell
	arch = any
	license = GPL
	makedepends = git
	makedepends = stack
	makedepends = libgmp-static
	provides = hadolint
	source = git+https://github.com/hadolint/hadolint.git
	sha256sums = SKIP

pkgname = hadolint-git

