pkgbase = pumba-bin
	pkgdesc = Chaos testing, network emulation and stress testing tool for containers
	pkgver = 0.11.1
	pkgrel = 1
	url = https://github.com/alexei-led/pumba
	arch = aarch64
	arch = x86_64
	license = Apache
	provides = pumba
	conflicts = pumba
	source_aarch64 = pumba-linux-aarch64::https://github.com/alexei-led/pumba/releases/download/0.11.1/pumba_linux_arm64
	sha256sums_aarch64 = 9eebb2ce7ebb08e40b71f7585c71cabfcc6add0bf3bcc638b95ab90f867cf69d
	source_x86_64 = pumba-linux-x86_64::https://github.com/alexei-led/pumba/releases/download/0.11.1/pumba_linux_amd64
	sha256sums_x86_64 = d7cfc2e91fbec03bd6e46e2d45be6a5d643763066658cdc9c3d0a10b7a146919

pkgname = pumba-bin
