pkgbase = slipnet-bin
	pkgdesc = Android VPN client with DNS tunneling (DNSTT, NoizDNS & Slipstream), NaiveProxy, SSH, Tor, and DoH support — featuring a built-in DNS scanner.
	pkgver = 2.4.1
	pkgrel = 1
	url = https://github.com/anonvector/SlipNet
	arch = aarch64
	arch = x86_64
	license = custom
	provides = slipnet
	conflicts = slipnet
	source_aarch64 = slipnet-2.4.1linux-aarch64::https://github.com/anonvector/SlipNet/releases/download/v2.4.1/slipnet-linux-arm64
	sha256sums_aarch64 = 2813e7f827ff54da793a0549bbd0e5922124ee364369e6966d67dec327fde74f
	source_x86_64 = slipnet-2.4.1-linux-x86_64::https://github.com/anonvector/SlipNet/releases/download/v2.4.1/slipnet-linux-amd64
	sha256sums_x86_64 = 447a98fa4bbdfa47cb05d5b067cef5c5276bb9a83dc6fa985e82f9f8582b734e

pkgname = slipnet-bin
